<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjb.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.cjb.pojo.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_pass" jdbcType="VARCHAR" property="userPass" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_photo" jdbcType="VARCHAR" property="userPhoto" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_state" jdbcType="CHAR" property="userState" />
    <result column="user_role_id" jdbcType="INTEGER" property="userRoleId" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_account, user_pass, user_name, user_photo, user_phone, user_state, 
    user_role_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cjb.pojo.User">
    insert into user (user_id, user_account, user_pass, 
      user_name, user_photo, user_phone, 
      user_state, user_role_id)
    values (#{userId,jdbcType=INTEGER}, #{userAccount,jdbcType=VARCHAR}, #{userPass,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userPhoto,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{userState,jdbcType=CHAR}, #{userRoleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cjb.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="userPass != null">
        user_pass,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPhoto != null">
        user_photo,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userState != null">
        user_state,
      </if>
      <if test="userRoleId != null">
        user_role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null">
        #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhoto != null">
        #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userState != null">
        #{userState,jdbcType=CHAR},
      </if>
      <if test="userRoleId != null">
        #{userRoleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjb.pojo.User">
    update user
    <set>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null">
        user_pass = #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPhoto != null">
        user_photo = #{userPhoto,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userState != null">
        user_state = #{userState,jdbcType=CHAR},
      </if>
      <if test="userRoleId != null">
        user_role_id = #{userRoleId,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cjb.pojo.User">
    update user
    set user_account = #{userAccount,jdbcType=VARCHAR},
      user_pass = #{userPass,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_photo = #{userPhoto,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_state = #{userState,jdbcType=CHAR},
      user_role_id = #{userRoleId,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>